<div style="padding-bottom:10px">
    <div class="letter"
    *ngFor="let l of game.hangmanPhrase">
      <span *ngIf="l.letter !== ''" class="correct-letter">{{l.letter}}</span>
      <span *ngIf="l.letter === ''">""</span>
  </div>
</div>
<div style="padding-bottom:10px">
  <div class="guess-container">
    <div>Guess:</div>
    <div style="display: inline; padding-left: 5px; padding-right: 5px; word-wrap: break-word;" 
    *ngFor="let l of game.guessedLetters">
      <span *ngIf="l.isCorrect" [ngStyle]="{color: 'green'}">{{l.letter | uppercaseTextPipe}}</span>
      <span *ngIf="!l.isCorrect" [ngStyle]="{color: 'red'}">{{l.letter | uppercaseTextPipe}}</span>
    </div>
  </div>
  <div>
    <form (ngSubmit)="guess(guessLetterForm)" #guessLetterForm="ngForm">
      <mat-form-field style="width: 100%;">
        <input pattern="[a-zA-Z]*" name="guessLetter" type="text" id="guessLetter" ngModel matInput placeholder="Guess a letter" style="text-transform:uppercase" required>
      </mat-form-field>
      <mat-error *ngIf="letterAlreadyTaken" style="font-size: small">Letter already chosen</mat-error>
      <button style="width: 100%; cursor: pointer;" mat-raised-button color="primary" type="submit" [disabled]="!guessLetterForm.valid">Guess</button>
    </form>
  </div>
</div>