<app-attempt></app-attempt>
<mat-divider></mat-divider>
<div style="margin-top: 10px;">Category: {{game.category}}</div>
<app-guess></app-guess>
<mat-divider></mat-divider>
<!-- <div fxLayoutAlign="center" style="margin-top: 10px;"><img src="https://i.imgur.com/akIMcpI.gif" width="200" height="200" alt="you guessed wrong"></div>
<div fxLayoutAlign="center" style="margin-top: 10px;"><img src="https://media1.tenor.com/images/fc7c5f7bcde56027cfeb6fa44b7ff240/tenor.gif" width="200" height="200" alt="you guessed wrong"></div> -->
<div fxLayoutAlign="center" style="margin-top: 10px;"><img src="http://www.reactiongifs.com/r/wrong-gif.gif" width="200" height="200" alt="you guessed wrong"></div>
<div fxLayoutAlign="center" style="margin-top: 10px;"><img src="https://media.giphy.com/media/26FPnsRww5DbqoPuM/giphy.gif" width="200" height="200" alt="you guessed correct"></div>